


$dark: rgba(175, 171, 171, .40);
$medium: #f6cdad;
$light: #f5f3e4;
$white: rgb(238, 238, 228);


$breakpoint-tablet: 768px;
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

.card {
  padding: .5rem;
  background-color: $dark !important;
  min-width: 60vw !important;
  // min-height: 80vh;
  margin: .5rem;
  position: relative;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__header {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  &__titleBtn {
    cursor: pointer;
  }
  

  &__scrollable {
    position: absolute;
    max-height: 85%;
    min-width: 80%;
    overflow-y: auto !important;
    padding: .5rem;
  }

  &__title {
    margin: 0;
    padding: .5rem ;
    color: white !important;
  }

  &__input {
    // margin-top: 5rem;
    // z-index: 5;
  }
}

.cardItem{
  padding: 1rem 0;
  background-color: $white;
  margin: 1rem 0;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;

  &__text {
    padding: .2rem .5rem;
  }

  &__icon {
    color: rgba(238, 154, 133, 0.671);

    &:hover{
      cursor: pointer;
      color: rgb(255, 1, 1);
    }
  }
}


.myBtn {
  background: rgb(115, 215, 228) !important;
  color: rgb(73, 73, 73) !important;
}



//Desktop
@media (min-width: $mediaBp1Width){


  .card {
    // display: inline-block;
    min-width: 20% !important;

    &__scrollable {
      position: absolute;
      max-height: 85%;
      min-width: 80%;
      overflow-y: scroll;
      padding: .5rem;
    }


  }

}





